html {
    background: #FAFAFA;
}

.navrow{
        height: 200px;
        
}

.acc{
    display: inline;
}

.tile img {
    width: 45%;
    display: inline;
    position: relative;
    vertical-align: top;
    

}

.tile label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
    position: relative;
    width: 45%;
    text-align:end;
    vertical-align: text-bottom;
}

.tile {
    box-sizing: border-box;
    display: inline;
    width: 265px;
    height: 200px;
    background: #F7F7F7;
    margin-left: 20px;
    border: 1.2px solid #929AAB;
    box-shadow: 0px 5px 20px #929AAB;
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
}

.tile:hover {
    border: 1.2px solid #393E46;
    transform: scale(1.05);
}

.tile:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    float: left;
    display: inline;
    width: 100%;
    max-width: 180px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 70;
    border-width: 3px;
    border-image: linear-gradient(to right, #362ae5, #161def);
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
    font-size: 17px;
    color: #134ce9;
    font-weight: 700;
}

.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.acc{
    background: #134ce9;
    float: left;
    margin: 2%;
    align-content: end;
}