html {
    background: #F7FBFC;
}

nav{
    height: 200px;
    width: 100%;
    text-align: end;
}

.profile-section{
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    width: 259px;
    height: 74px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
}

#profile-container {
    background-color: #289BDB;
    width: 20%;
    height: 65%;
    border-radius: 50%;
}

#profile-container img {
    width: 100%;
    border-radius: inherit;
}

.tile img {
    width: 70%;
    position: relative;
    vertical-align: top;  
    justify-content: center;
    align-items: center; 
    /* display: flex; */


}

.icon-container {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 160px;
    height: 160px;
    border-style: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.tile label{
    font-family: 'Gabarito', sans-serif;
    padding-bottom: 15px;
    color: #000;  
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

.tile {
    display: inline-block;
    width: 19rem;
    height: 14rem;
    background:  #DDE6ED;
    
    border: 1.2px solid #929AAB;
    box-shadow: 0px 5px 20px #929AAB;
    
    backdrop-filter: blur(6px);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    
    margin: 10px;
    transition: all 0.5s;
    text-decoration: none;
    user-select: none;
    font-weight: bolder;
}

.tile:hover {
    border: 1.2px solid #393E46;
    transform: scale(1.05);
}

.tile:active {
    transform: scale(0.95) rotateZ(1.7deg);
    
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    float: left;
    width: 100%;
    max-width: 180px;
}

.form__field {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #393E46;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 70;
    border-width: 3px;
    border-color: #000;
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
    font-size: 17px;
    color: #000;
    font-weight: 700;
}

.form__field:required, .form__field:invalid {
    box-shadow: none;
}
