html {
    background: #F7FBFC;
}

nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 20px;
    padding-right: 0px; */

}

.profile-section{
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    width: 259px;
    height: 74px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    margin-right: 20px;
}

#profile-container {
    background-color: #289BDB;
    width: 20%;
    height: 65%;
    border-radius: 50%;
}

#profile-container img {
    width: 100%;
    border-radius: inherit;
}

.icon-container img {
    width: 65%;
    position: relative;
    vertical-align: top;  
    justify-content: center;
    align-items: center; 
    display: flex;


}

.icon-container {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 165px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.tile label{
    font-family: 'Gabarito', sans-serif;
    padding-bottom: 10px;
    color: #000;  
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

.tile {
    display: inline-block;
    width: 350px;
    height: 230px;
    background:  #DDE6ED;
    
    border: 1.2px solid #929AAB;
    box-shadow: 0px 5px 20px #929AAB;
    
    backdrop-filter: blur(6px);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    
    margin: 10px;
    transition: all 0.5s;
    text-decoration: none;
    user-select: none;
    font-weight: bolder;
}

.tile:hover {
    border: 1.2px solid #393E46;
    transform: scale(1.05);
}

.tile:active {
    transform: scale(0.95) rotateZ(1.7deg);
    
}

.input {
    color: #c40000;
    font-size: 1rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    margin-left: 2rem;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
}

.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus {
    outline: none;
}

.input:focus + .input-border {
    width: 100%;
}

.form-control {
    position: relative;
    --width-of-input: 300px;
}

.input-alt {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
}

.input-border-alt {
    height: 3px;
    background: black;
    margin-left: 2rem;
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
}

.input-alt:focus + .input-border-alt {
    width: 100%;
}


@media screen and (min-width: 950px) and (max-width: 1500px){
    .tile {
        width: 19rem

    }
}